<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
            "defaultLocale": app.request.locale
        } %}
    {% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <header>
        {% block header %}

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{{ sulu_content_root_path() }}">Homepage</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        {% for item in sulu_navigation_root_tree('main') %}
                            <li class="nav-item active">
                                 <a class="nav-link" href="{{ sulu_content_path(item.url, item.webspaceKey) }}" title="{{ item.title }}">{{ item.title }} <span class="sr-only">(current)</span></a>
                            </li>
                        {% endfor %}
                    </ul>

                    <form class="form-inline my-2 my-lg-0" action="path('sulu_search_website_search')" method="GET">
                        <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        {% endblock %}
    </header>

    <section id="content">
        {% block content %}{% endblock %}
    </section>

    <aside>
        {% block aside %}{% endblock %}
    </aside>

    <div class="row">
        <footer class="col-12 d-flex justify-content-around fixed-bottom">
            {% block footer %}
                {% set snippet= sulu_snippet_load_default('footer') %}
                                <p> Copyright {{ 'now'|date('Y') }} {{ snippet[0].content.copyright_author }} </p>
                                <p> {{ snippet[0].content.phone }} </p>
                                <p> {{ snippet[0].content.address }} </p>
            {% endblock %}
        </footer>
    </div>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
